node_modules
.DS_Store

# Firebase emulators
.env
.runtimeconfig.json

# Dependency directories
.pnp
.pnp.js

# IDE
.idea
.vscode

# npm log file
npm-debug.log*

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
# Local Netlify folder
.netlify
